@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");


$main-body-color:#000;
$header-color:#595959;
$white-color:#fff;
$heder-list-color:#d9d9d9;
$text-color-grey:#303030;
$red-color:#bf0f0f;
$darker-grey:#474747;
$background-color:#F4F4F4;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  .swiper-slide+.swiper-slide-active
  {
    display:flex;
    align-items: center;
    justify-content: center;
  }
 

  color:$main-body-color;
   body img {
    max-width: 100%;
  }  
}



.header {
  display: flex;
  flex-direction: column;
  .h2 {

    display: flex;
    height: 72px;
    width: 100%;
    background-color:$heder-list-color;
    
    justify-content: space-between;
  
    align-items: center;
    padding: 0 5rem;
  }
   
  .h2 ,.language ul {
    display: flex;
    gap: 1rem;
  }

  .h2 .language ul li a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: $header-color;
    text-decoration-line: underline;
  }
  .navbar {
    display: flex;
    justify-content: center;
    height: 64px;
    margin: 0 5rem;
  }

}
.header .h2 .language ul li {
  list-style-type: none;
}

.header .navbar ul {
  display: flex;
  flex: 1;
}

.header .navbar ul li {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  list-style-type: none;
  border: 0.5px solid rgba(136, 135, 135, 0.4);
}

.header .navbar ul li h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header .navbar ul li p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

main .image {
  position: relative;
  .strelicaImg {
    position: absolute;
    bottom: 2rem;
    left: 50vw;
  }
}

main .image .strelicaImg:hover {
  cursor: pointer;
}

main .firstPar {
  display: flex;
  margin: 3rem 0;
  gap: 2rem;
}

main .firstPar .image1 {
  flex: 1;
}

main .firstPar .image1 .firstParImg {
  max-width: none;


}

main .firstPar .rightPar {
  flex: 1;
  margin-right: 10rem;
}

main .firstPar .rightPar .rightUp .title {
  margin: 2rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 32px;
  color:$text-color-grey;
}

main .firstPar .rightPar .rightUp .line {
  height: 6px;
  width: 10vw;
  background-color:$red-color;
  margin-bottom: 1rem;
}

main .firstPar .rightPar .rightUp .subTitle {
  margin-bottom: 2rem;
}

main .firstPar .rightPar .rightUp .subTitle h3 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color:$darker-grey;
}

main .firstPar .rightPar .rightUp hr {
  border: 1px solid;
  color: rgba(196, 196, 196, 0.4);
}

main .firstPar .rightPar .rightMain {
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
}

main .firstPar .rightPar .rightMain p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color:$darker-grey;
}

main .firstPar .rightPar .rightMain .aboutUs {
  margin-top: 5rem;
  display: inline-block;
  padding: 14px 16px;
  background-color: $red-color;
  border: 0;
  border: 2px solid $red-color;
  color: $white-color;
  text-align: center;
  font-weight: 500;
  width: auto;
  border-radius: 4px;
  font-size: 16px;
}

main .firstPar .rightPar .rightMain .aboutUs:hover {
  cursor: pointer;
}



main .thirdPar {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  
}

main .thirdPar h4 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: $darker-grey;
}

main .thirdPar line {
  height: 2px;
  width: 10%;
  background-color: $red-color;
  margin-top: 1rem;
}

main .fourthPar {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main .fourthPar .fourthTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

main .fourthPar .fourthTitle h2 {

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 34px;
  text-align: center;
  
}
main .fourthPar .fourthTitle h3 {
  color:$darker-grey;
}


.numbers {
  width: 100%;
  height: 300px;
  background-image: url('./img/crveno.png');
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 25px;
  color:$white-color;
  font-family: "Inter", sans-serif;
  

}
.fifthPar{
 background-color: $background-color; 
  color: $darker-grey;
  text-align: center;
  
.fiveTitle {
  text-align: center;
  margin-top: 50px;
  font-family: "Inter", sans-serif;

}

.fiveDescr {
  text-align: center;
  padding: 30px;
  font-family: "Roboto", sans-serif;
}

.fiveProducts {
  display: flex;
}

.product {
  width: 100%;
}

}
 


.sixTitle {
  text-align: center;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  color:$darker-grey;
  

}

.sixBrands {
  height: 200px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  padding: 0 100px;
  font-family: "Inter", sans-serif;
  color:$darker-grey;

  .brand {
    flex: 1;

    .brandImage {
      display: flex;
      justify-content: center;
    }

    .brandTitle {
      display: flex;
      justify-content: center;
    }
  }
}

.image1 {
  display: flex;

  img {
    flex: 1;
  }
}

.sixthPar {
  text-align: center;
  gap:2rem;
}

.sixBtn {
  background-color: $red-color;
  border: 0;
  border: 2px solid $red-color;
  color:$white-color;
  text-align: center;
  font-weight: 500;
  width: auto;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 14px 16px;
  

}

footer {

  background-image: url('./img/pozadina.png');
  position: relative;
  z-index: -2;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  

  .footer {
    padding: 70px;

    display: flex;
    justify-content: space-between;

    .footerLogo{
      height: 86px;
      width:86px;

      
    }
    
    .contact, .title {
      margin-bottom: 15px;
      display: flex;
      font-family: "Inter", sans-serif;
    }
    
    .footerList{
      ul{
        list-style-type: none;
        display:flex;
        flex-direction: column;
        gap:0rem;
        margin-bottom: 5px;
        font-family: "Roboto", sans-serif;
        color: $white-color;
        gap:0.5rem;
      }
    }
    .border{
      border-left: 2px solid;
      color: rgba(196, 196, 196, 0.4);
      padding:16px;
    }
    .footerMiddle{
    
      font-family: "Roboto", sans-serif;
      color:$white-color;
    
    }
    

  }
   .footerRight{
    font-family: "Roboto", sans-serif;
    color:$white-color;
   }

  .footerDown {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.33);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    bottom: 0;
    font-family: "Roboto", sans-serif;
    color: $header-color;
    text-decoration: underline;

    .layout{
      display: flex;
      gap: 10px;
    }
  }

}

.swiper {
  width: 600px;
  height: 300px;
  display:flex;
  align-items: center;
  justify-content: center;
  .swiper-button-prev{
    color:$red-color;
  }
  .swiper-button-next{
    color:$red-color;

  }
  
}


.swiper-slide{
  display: flex;
  flex-direction: column;

  img{
    height: 72%;
  }
}
/*# sourceMappingURL=style.css.map */